body {margin:0; padding:29px00; font:12px"\5B8B\4F53",sans-serif;background:#ffffff;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;} 
address,cite,code,em,th {font-weight:normal; font-style:normal;} 
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
html {
    height: 100%;
}
html {
    height: 100%;
}

body {
	font-family: Segoe UI, Arial, Sans-Serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

img
{
    border: 0px;
}

#win
{   
    width: 100%;
    height: 100%;
    background: black no-repeat fixed;
    background-image: url(images/win7bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

#win .desktop{
	position: fixed;
	top: 0;
	bottom: 42px;
	width: 100%;
	/*设置文本不可被选中*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#app li{
    width: 80px;
	position: absolute;//设置绝对定位，通过JS设置位置
	display: block;
	/*设置border-box 避免padding的像素扩张*/
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
}

#app a
{
    text-decoration: none;
    border: solid 1px transparent;
    display: block;
    color: #ffffff;
	text-align: center;
    text-shadow: 0.2em 0.1em 0.3em #000000;
}
#app a img{
	display: block;
	width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 5px auto;
    color: white;
    box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 37px;
    line-height: 50px;
}
#app a span{
	display: block;
	color: white;
    font-size: 14px;
    line-height: 14px;
	margin-bottom: 4px;
}	

#app a:hover
{
    border: solid 1px #bbd6ec;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    background-color: #5caae8;
}

#taskbar
{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 42px;
    background: url(images/taskbarbg.png);
    z-index: 19930813;
}

#taskbar img
{
    margin: 5px 0 0 0;
    width: 30px;
    height: 29px;
}

#taskbar a
{
    position: absolute;
    text-align: center;
    width: 57px;
    height: 46px;
    background: url(images/taskbarhover.png) 0 -46px no-repeat;
}

#taskbar a:hover
{
    background-position: 0 -3px;
}

#taskbar #start
{
    position: absolute;
    text-align: center;
    width: 57px;
    height: 46px;
    background: url(images/start.png) 0 -6px no-repeat;
}

#taskbar #start:hover
{
    text-decoration: none;
    background-position: 0 -114px;
}

#desktop
{
    height: 42px;
    width: 100%;
    /*margin: 0 0 0 350px;*/
}

#menuwin
{
    position: fixed;
    bottom: 43px;
    display: none;
	z-index:10000;
}

#startmenu
{
    border: solid 1px #102a3e;
    overflow: visible;
    display: block;
    float: left;
    height: 404px;
    width: 400px;
    opacity: 0.9;
    -webkit-border-radius: 5px;
    position: absolute;
    box-shadow: inset 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    background-color: #619bb9;
    background: -webkit-gradient(linear, center top, center bottom, from(#327aa4),color-stop(45%, #2e4b5a), to(#5cb0dc));
}

#leftspliter
{
    margin: 0 15px 0 15px;
    border-top: solid 1px #d6e5f5;
}

#rightspliter
{
    margin: 0 7px 0 7px;
    border-top: solid 1px #596d77;
}

#search
{
    margin: -2px 0 0 0;
}

#programs, #links
{
    float: left;
    padding: 0;
    list-style: none;
    position: relative;
}

#programs
{
    background: #ffffff;
    border: solid 1px #365167;
    margin: 7px 0 7px 7px;
    box-shadow: 0 0 1px #ffffff;
    -webkit-box-shadow: 0 0 1px #ffffff;
    -webkit-border-radius: 3px;
}

#programs a
{
    border: solid 1px transparent;
    display: block;
    padding: 3px;
    margin: 3px;
    color: #4b4b4b;
    text-decoration: none;
    min-width: 220px;
}

#programs a:hover
{
    border: solid 1px #7da2ce;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 0 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    background-color: #cfe3fd;
    background: -webkit-gradient(linear, center top, center bottom, from(#dcebfd), to(#c2dcfd));
}

#programs a img
{
    border: 0;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#links
{
    margin: 7px;
    margin-top: -30px;
}

#links li.icon
{
    text-align: center;
}

#links a
{
    border: solid 1px transparent;
    display: block;
    margin: 5px 0;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    width: 95%;
}

#links a:hover
{
    border: solid 1px #000;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 1px #ffffff;
    background-color: #658da0;
    background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#517384), color-stop(50%, #79a3b8), to(#517384));
}

#links a span
{
    padding: 5px;
    display: block;
}

#links a:hover span
{
    background: -webkit-gradient(linear, center top, center bottom, from(transparent), color-stop(49%, transparent),                color-stop(50%, rgba(2,37,58,0.5)), to(rgba(63,111,135,0.5)));
}
